body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background: linear-gradient(to right, pink, plum);
}
 .albums {
     display:grid;
     gap:20px;
     grid-template-columns:repeat(auto-fit, minmax(300px, 1fr))
 }